@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset all styles */
html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 1em;
}
body {
  font-size: 100%;
  font-family: Manrope;
  position: absolute;
  height: 100vh;
  width: 100%;
}
a img,
:link img,
:visited img {
  border: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* end reset css styles */

/* Global variables */
:root {
  --dark-orange: #d87d4a;
  --light-orange: #fbaf85;
  --light-black: #101010;
  --dark-black: #000000;
  --light-white: white;
  --medium-white: #fafafa;
  --dark-white: #f1f1f1;
}

/* Make list items in header horizontal */
ul > li {
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
}
/* Header style */
.header {
  background-color: #191919;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
.headerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 17px;
  border-bottom: solid rgb(68, 68, 68) 0.7px;
}
.logo {
  font-weight: 900;
  font-size: 20px;
}

/* Homepage Hero content  */

h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 5vh;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.homePageHeroContainer {
  background-color: #191919;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
.homePageHeroContent {
  width: 80%;
  display: flex;
  margin: auto;
  padding: 17px;
}
.homeProductDescription {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10%;
  width: 30%;
}
.heroNewProductParagraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.heroImage {
  margin-left: 20%;
  width: 600px;
  height: 600px;
  object-fit: none;
  object-position: 80% 60%;
}
.heroProductInfo {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  mix-blend-mode: normal;
  opacity: 0.75;
}
.seeProductButton {
  background-color: var(--dark-orange);
  color: white;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 48px;
  width: 160px;
  border-radius: 0px;
}
/* Start of home page category section */
.homePageCategoryContainer {
  background-color: var(--light-white);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
.homePageCategoryContent {
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  margin: auto;

  margin-top: 10rem;
  margin-bottom: 10rem;
}
/* headphones category title */
.headphonesCategory {
  background-color: var(--dark-white);
  position: relative;

  width: 100%;
  height: 180px;
  border-radius: 8px;
}
.headphonesImage {
  width: 250px; /* width of container */
  height: 250px; /* height of container */
  object-fit: cover;
  float: left;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
/* speakers category title */
.speakersCategory {
  background-color: var(--dark-white);
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 8px;
}
.speakerCategoryText {
  position: absolute;
  height: 25px;
  left: 31%;
  right: 31%;
  top: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
}
.productShopLink {
  position: absolute;
  height: 25px;
  left: 44%;
  right: 44%;
  top: 130px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  color: #000000;
}
.speakersImage {
  width: 250px; /* width of container */
  height: 250px; /* height of container */
  object-fit: cover;
  float: left;
  position: absolute;
  left: 40px;
  bottom: 25px;
}
/* earphones category title */
.earphonesCategory {
  background-color: var(--dark-white);
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 8px;
}
.earphonesImage {
  width: 250px; /* width of container */
  height: 250px; /* height of container */
  object-fit: cover;
  float: left;
  position: absolute;
  left: 40px;
  bottom: 2px;
}

/* Start of homepage product features */

.zx9FeatureContainer {
  color: white;
  padding-bottom: 30px;
}

.zx9ProductButton {
  position: relative;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 48px;
  width: 160px;
  border-radius: 0px;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .zx9Feature {
    background-color: var(--dark-orange);
    border-radius: 5px;
    max-width: 80%;
    margin: auto;
    padding: 17px;
    height: 40vw;
    max-height: 40vw;
    position: relative;
  }
  .zx9FeatureText {
    overflow: hidden;
    position: relative;
    margin-left: 40vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .zx9HomeImage {
    position: absolute;
    top: 13vw;
    left: 10%;
    height: 30vw;
  }
  .zx9SpiralImage {
    position: absolute;
    top: -2vh;
    right: 33vw;
    height: 60vw;
  }
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .zx9Feature {
    background-color: var(--dark-orange);
    border-radius: 5px;
    max-width: 80%;
    margin: auto;
    padding: 17px;
    height: 100vw;
    position: relative;
  }
  .zx9FeatureText {
    overflow: hidden;
    position: relative;
    margin-left: 10vw;
    margin-top: 45vw;
  }
  .zx9HomeImage {
    position: absolute;
    top: 5vw;
    left: 25vw;
    height: 30vw;
  }
  .zx9SpiralImage {
    position: absolute;
    top: -5vh;
    right: 9vw;
    height: 60vw;
  }
}
